@import "tailwindcss";

@theme {
    --color-background: #FAFAFA;
    --color-primary: #FFFACD; 
    --color-accent: #C3DAE6;
    --color-secondary: #D4ECDD;
    --color-muted: #F8EDEB;
    --color-text: #1F1F1F;
}